AUTH_SECRET=replace-with-a-random-secret
NEXTAUTH_SECRET=replace-with-the-same-random-secret
NEXTAUTH_URL=http://localhost:3000
APP_URL=http://localhost:3000
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=app
PG_PASSWORD=app
PG_DATABASE=app
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_INSIGHT_PORT=5540
ML_GRPC_ADDRESS=127.0.0.1:50051
